/* Coolors Exported Palette - coolors.co/221d23-4f3824-ddb967-ff3c38-828282 */

/* HSL */
$color1: hsla(290%, 9%, 13%, 1);
$color2: hsla(28%, 37%, 23%, 1);
$color3: hsla(42%, 63%, 64%, 1);
$color4: hsla(1%, 100%, 61%, 1);
$color5: hsla(0%, 0%, 51%, 1);

/* RGB */
$color1: rgba(34, 29, 35, 1);
$color2: rgba(79, 56, 36, 1);
$color3: rgba(221, 185, 103, 1);
$color4: rgba(255, 60, 56, 1);
$color5: rgba(130, 130, 130, 1);
